<h1>Big3 Person Bruteforcer )</h1>
<div class="container-lg repo">
    <div class="row">
        <app-gallery class="col-sm-12"></app-gallery>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <button class="col-12" [disabled]="matching" (click)="match()">Match all</button>
    </div>

    <div class="row">
        <app-bf-block class="col-12"></app-bf-block>
    </div>

    <div class="row">
        <app-person-table class="col-12"></app-person-table>
    </div>
</div>
